.nav {
  border-left: 2px solid var(--grey-200);
}
.nav-item {
  border-bottom: 1px solid var(--grey-200);
}
.nav-item:hover {
  background-color: var(--grey-200);
  color: var(--primary);
}

.nav-item-active {
  background-color: var(--grey-200);
  color: var(--primary);
}
